<html>
    <head>
        <title>Event Management Events Page!</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/events" class="active">Events</a></li>
            {% if username %}<li><a href="/account" class="right">Hey {{ username }}! / Account Settings</a></li>{% endif %}
            {% if username %}<li><a href="/logout" class="right">Logout</a></li>{% endif %}
        </ul>
        {% if success %}
        <div class="success">
            <p style="font-size:32px;"><h3><strong>Success</strong></h3><p>{{ success }}</p></p>
        </div>
        {% endif %}
        {% if info %}
        <div class="info">
            <p style="font-size:32px;"><h3><strong>Information</strong></h3><p>{{ info }}</p></p>
        </div>
        {% endif %}
        <p style="font-size: 32px;">Do things with events here.</p>
        <ul class='navbar'>
            {% if username %}
            <li><a href="/events/create_event">Create New Event</a></li>
            <li><a href="/events/manage_events">Manage Events</a></li>
            {% endif %}
            <li><a href="/events/find_events">Find Events</a></li>
        </ul>
    </body>
</html>