<html>
    <head>
        <title>Event Management Forms!</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/events">Events</a></li>
            <li><a class="active">Forms</a></li>
            {% if username %}<li><a href="/account" class="right">Hey {{ username }}! / Account Settings</a></li>{% endif %}
            {% if username %}<li><a href="/logout" class="right">Logout</a></li>{% endif %}
        </ul>
        {% if success %}
        <div class="success">
            <p style="font-size:32px;"><h3><strong>Success</strong></h3><p>{{ success }}</p></p>
        </div>
        {% endif %}
        {% if info %}
        <div class="info">
            <p style="font-size:32px;"><h3><strong>Information</strong></h3><p>{{ info }}</p></p>
        </div>
        {% endif %}
        <p style="font-size: 32px;">Create or Manage Forms here.</p>
        {% if event %}
            <h1>Event Name: {{ event.name }}</h1>
            <h2>ID: {{ event.id }}</h2>
            <h2>~{{ event.user }}</h2>
            <p>Description: {{ event.description }}</p>
            <ul class="navbar">
                {% if username %}
                <li><a href="/events/forms/create_form/{{ event.id }}">Create New Form</a></li>
                <li><a href="/events/forms/manage_forms/{{ event.id }}">Manage Forms</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </body>
</html>