<html>
    <head>
        <title>Event Management Form Questions Management!</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/events">Events</a></li>
            <li><a class="active">Forms</a></li>
            {% if username %}<li><a href="/account" class="right">Hey {{ username }}! / Account Settings</a></li>{% endif %}
            {% if username %}<li><a href="/logout" class="right">Logout</a></li>{% endif %}
        </ul>
        {% if error %}
        <div class="error">
            <p style="font-size:32px;"><h3><strong>Error</strong></h3><p>{{ error }}</p></p>
        </div>
        {% endif %}
        {% if info %}
        <div class="blue">
            <p style="font-size:32px;"><h3><strong>Information</strong></h3><p>{{ info }}</p></p>
        </div>
        {% endif %}
        <p style="font-size: 32px;">Manage your form's questions here.</p>
        {% if form %}
            <h2>Part of {{ form.event }}</h2>
            <h1>Form Name: {{ form.name }}</h1>
            <h2>ID: {{ form.id }}</h2>
            <h2>~{{ form.user }}</h2>
            <p>Description: {{ form.description }}</p>
        {% endif %}
        <p style="font-size: 32px;">Your form preview.</p>
        <form action="{{url_for('manageEvents')}}">
            {% for question in questions %}
                <h1>{{ question[1] }}</h1>
                <h2>{{ question[2] }}</h2>
                {% if question[3] == "text" %}
                    <input type="text" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "textarea" %}
                    <textarea  name="q{{ question[0] }}"></textarea><br>
                {% endif %}
                {% if question[3] == "email" %}
                    <input type="email" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "url" %}
                    <input type="url" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "tel" %}
                    <input type="tel" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "radio" %}
                    {% for option in question[4]%}
                   <input type="radio" name="q{{ question[0] }}" value="{{ option }}">{{ option }}<br>
                    {% endfor %}
                {% endif %}
                {% if question[3] == "checkbox" %}
                    {% for option in question[4]%}
                    <input type="checkbox" name="q{{ question[0] }}" value="{{ option }}">{{ option }}<br>
                    {% endfor %}
                {% endif %}
                {% if question[3] == "select" %}
                    <select name="q{{ question[0] }}">
                    {% for option in question[4]%}
                    <option value="{{ option }}">{{ option }}</option><br>
                    {% endfor %}
                   </select><br>
                {% endif %}
                {% if question[3] == "colour" %}
                    <input type="color" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "date" %}
                    <input type="date" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "month" %}
                    <input type="month" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "week" %}
                    <input type="week" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "time" %}
                    <input type="time" name="q{{ question[0] }}"><br>
                {% endif %}
                {% if question[3] == "number" %}
                    <input type="number" name="q{{ question[0] }}"><br>
                {% endif %}
            {% endfor %}
        <input class="btn btn-default" type="submit" value="Submit Form" name='button'>
        </form>
        <p style="font-size: 32px;">Add a question field.</p>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Field Name" name="name" value="{{request.form.name }}"><br>
            <textarea name="description" placeholder="Field Description" value="{{request.form.description }}"></textarea><br>
            <select name="type">
                <option value="text">Text</option>
                <option value="textarea">Textarea</option>
                <option value="email">Email</option>
                <option value="url">Url</option>
                <option value="tel">Telephone Number</option>
                <option value="radio">Radio Buttons</option>
                <option value="checkbox">Checkboxes</option>
                <option value="select">Selector</option>
                <option value="colour">Colour</option>
                <option value="date">Date</option>
                <option value="month">Month</option>
                <option value="week">Week</option>
                <option value="time">Time</option>
                <option value="number">Number</option>
            </select>
            <p style="font-size: 32px;">Options should be in this format. ["option1", "option2", "option3"]</p>
            <input type="text" placeholder="Options" name="options" value="{{ request.form.options }}"><br>
            <input class="btn btn-default" type="submit" value="Edit Form" name='addField'>
        </form>
        <p style="font-size: 32px;">Edit a question field. Leave blank if you want it to be unchanged.</p>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" placeholder="Field Name" name="name" value="{{request.form.name }}"><br>
            <input type="text" placeholder="New Field Name" name="newName" value="{{request.form.newName }}"><br>
            <textarea name="description" placeholder="New Field Description" value="{{request.form.description }}"></textarea><br>
            <input type="password" placeholder="Type your password to delete this field" name="password" value="{{request.form.password }}"><br>
            <input class="btn btn-default" type="submit" value="Edit Form" name='editField'>
        </form>
    </body>
</html>