<html>
    <head>
        <title>Event Management Login!</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/login"class="active">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/events">Events</a></li>
            {% if username %}<li><a href="/account" class="right">Hey {{ username }}! / Account Settings</a></li>{% endif %}
            {% if username %}<li><a href="/logout" class="right">Logout</a></li>{% endif %}
        </ul>
        {% if error %}
        <div class="error">
            <p style="font-size:32px;"><h3><strong>Error</strong></h3><p>{{ error }}</p></p>
        </div>
        {% endif %}
        {% if info %}
        <div class="info">
            <p style="font-size:32px;"><h3><strong>Information</strong></h3><p>{{ info }}</p></p>
        </div>
        {% endif %}
        <p style="font-size: 32px;">Log in to the event management project here.</p>
        <form action="/login" method="post">
            <img src="/static/avatar.png" width="190px"></br>
            <input type="text" placeholder="Username" name="username" value="{{request.form.username }}"><br>
            <input type="password" placeholder="Password" name="password" value="{{request.form.password }}"><br>
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        <ul class="navbar">
            <li><a href="/account/forgot_username">Forgot Username?</a></li>
            <li><a href="/account/forgot_password">Forgot Password?</a></li>
        </ul>
    </body>
</html>