<html>
    <head>
        <title>Event Management Form Viewing!</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/events">Events</a></li>
            <li><a class="active">Forms</a></li>
            {% if username %}<li><a href="/account" class="right">Hey {{ username }}! / Account Settings</a></li>{% endif %}
            {% if username %}<li><a href="/logout" class="right">Logout</a></li>{% endif %}
        </ul>
        {% if success %}
        <div class="success">
            <p style="font-size:32px;"><h3><strong>Success</strong></h3><p>{{ success }}</p></p>
        </div>
        {% endif %}
        {% if info %}
        <div class="info">
            <p style="font-size:32px;"><h3><strong>Information</strong></h3><p>{{ info }}</p></p>
        </div>
        {% endif %}
        <p style="font-size: 32px;">Find forms here.</p>
        {% for form in forms %}
            <h2>Part of {{ form.event }}</h2>
            <h1>Form Name: {{ form.name }}</h1>
            <h2>ID: {{ form.id }}</h2>
            <h2>~{{ form.user }}</h2>
            <p>Description: {{ form.description }}</p>
            <ul class="navbar">
                <li><a href="/events/view/forms/fill_form/{{ form.id }}">Fill in this form</a></li>
            </ul>
        {% endfor %}
    </body>
</html>